.App {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  padding: 15px 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
