.Game {
  display: flex;
  justify-content: space-between;
}

.fields {
  display: grid;
  gap: 0;
}

.aside {
  min-width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 5px;
  color: var(--text-primary-color);
  background-color: var(--button-bg-color);
  border: 2px solid var(--button-border-color);
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 200ms;
}

.button:hover {
  background-color: var(--button-bg-hover-color);
}

.button:active {
  background-color: var(--button-bg-active-color);
}

.button:last-child {
  margin-bottom: 0;
}

.stats {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  text-align: center;
}

.statBlock {
  border: 1px solid var(--border-primary-color);
  border-radius: 6px;
  cursor: default;
}

.statEmoji {
  font-size: 20px;
}

.statValue {
  font-weight: bold;
  font-size: 16px;
}
